@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters */

/* vertical elision ⋮ */
.elision{
	margin: .5em;
	margin-left: 3em;
}
/* end of vertical elision */

/* custom */
q{
	font-style: italic;
}

q i{
	font-style: normal;
}

section[epub|type~="dedication"]{
	margin-top: 20vh;
	break-after: page;
}

section[epub|type~="dedication"] > header + p{
	margin-top: 1em;
}

section[epub|type~="dedication"] > header p{
	font-style: italic;
}

header > [epub|type~="dedication"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

#la-grenadiere blockquote:last-of-type{
	font-variant: all-small-caps;
	line-height: 1.5;
	text-align: center;
}

#la-grenadiere blockquote:last-of-type b{
	font-size: 1.25em;
}

#la-grenadiere blockquote:last-of-type em{
	font-variant: initial;
}

#la-grenadiere blockquote:last-of-type p{
	text-indent: 0;
}

#the-deserted-woman header span[epub|type~="z3998:signature"],
#the-commission-in-lunacy header p:last-of-type{
	text-align: right;
}

#the-imaginary-mistress [epub|type~="se:letter.dateline"]{
	font-style: italic;
	margin-top: 1em;
	text-align: right;
}
/* end of custom */
